<body>
    <!-- <div class="row"> -->
        <!-- <div class="col-4">
            <p class="myprojects">My Projects</p>
        </div>
        <div class="col-8"> -->
            <div class="row">
              <p class="myprojects">My Projects</p>
                <div class="col-4 item">
                    <div class="card">
                        <div class="card-body">
                          <p><b>UseCash</b></p>
                          <div id="descricao">
                              <p>Participou da empresa UseCash, empresa na área financeira, na criação de novas features e manutenção do sistema</p>
                          </div>
                          <div id="tecnologias" >
                            <span class="badge text-bg-dark">HTML</span>
                            <span class="badge text-bg-dark">CSS</span>
                            <span class="badge text-bg-dark">Angular</span>
                            <span class="badge text-bg-dark">ng Bootstrap</span>
                            <span class="badge text-bg-danger">Profissional</span>
                          </div>
                        </div>
                      </div>
                </div>

                <div class="col-4 item">
                    <div class="card">
                        <div class="card-body">
                          <p><b>Select</b></p>
                          <div id="descricao">
                              <p>Participou da empresa Select em projetos novos na área da educação e gestão de fábricas</p>
                          </div>
                          <div id="tecnologias" >
                            <span class="badge text-bg-dark">HTML</span>
                            <span class="badge text-bg-dark">CSS</span>
                            <span class="badge text-bg-dark">Angular</span>
                            <span class="badge text-bg-dark">ReactJS</span>
                            <span class="badge text-bg-dark">Prime NG</span>
                            <span class="badge text-bg-danger">Profissional</span>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-4 item">
                  <div class="card">
                      <div class="card-body">
                        <p><b>Sistema de criação de campanhas</b></p>
                        <div id="descricao">
                            <p>Criou um sistema de criação de campanhas para farmácias para fins acadêmicos</p>
                        </div>
                        <div id="tecnologias" >
                          <span class="badge text-bg-dark">HTML</span>
                          <span class="badge text-bg-dark">CSS</span>
                          <span class="badge text-bg-dark">Angular</span>
                          <span class="badge text-bg-dark">Bootstrap</span>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
            <div class="row" style="margin-top: 6vh;">
              <div class="col-4 item">
                <div class="card" (click)="go('/jogo-velha')">
                    <div class="card-body">
                      <p><b>Jogo da Velha</b></p>
                      <div id="descricao">
                          <p>Criou um jogo da velha</p>
                      </div>
                      <div id="tecnologias" >
                        <span class="badge text-bg-dark">HTML</span>
                        <span class="badge text-bg-dark">CSS</span>
                        <span class="badge text-bg-dark">Angular</span>
                        <span class="badge text-bg-dark">Bootstrap</span>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="col-4 item">
                <div class="card" (click)="go('/cronometro')">
                    <div class="card-body">
                      <p><b>Cronômetro</b></p>
                      <div id="descricao">
                          <p>Criou um cronômetro</p>
                      </div>
                      <div id="tecnologias" >
                        <span class="badge text-bg-dark">HTML</span>
                        <span class="badge text-bg-dark">CSS</span>
                        <span class="badge text-bg-dark">Angular</span>
                        <span class="badge text-bg-dark">Bootstrap</span>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="col-4 item">
                <div class="card">
                    <div class="card-body">
                      <p><b>Quiz</b></p>
                      <div id="descricao">
                          <p>Criou um quiz</p>
                      </div>
                      <div id="tecnologias" >
                        <span class="badge text-bg-dark">HTML</span>
                        <span class="badge text-bg-dark">CSS</span>
                        <span class="badge text-bg-dark">Angular</span>
                        <span class="badge text-bg-dark">Bootstrap</span>
                        <span class="badge text-bg-dark">Json Server</span>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

        <!-- </div> -->
    <!-- </div> -->
</body>