

h3, p{
    /* color: white; */
    font-family: 'Farro', sans-serif;
}

h1,h2,h3,h4,h5,a,p, span{
    font-family: 'Farro', sans-serif;
}

svg{
    margin-right: 2vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden; }
